<div class="genSection">
	<h1>CODE GENERATOR</h1>
	<% if flash[:code] %>
		<p id="success" value="#{flash[:success]}"> <%= flash[:success] %> </p>
		<div id="random-code">
			<%= flash[:code] %> 
			<button onclick="copyText('<%= flash[:code] %>')" class="copy">copy</button>
			<div id="copied"></div>
		</div>
	<% end %>
	<%= button_to 'Generate new code', code_index_path, :class => "button", :method => :post %>
</div>

<div class="usedSection">
	<% @codes.each do |x| %>
		<div class="usedCode"><%= x.code %></div>
	<% end %>
</div>

<div>
	<div class="code-count"><%= @codes.length %></div>
</div>