<body class="chatroom-page">
	<% if @chatroom %>
		<h2><%= @chatroom.title %> </h2>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-sm-10">
					<div class="chatroom" id="chatroom-scroll">
						<div id="messages" >
							<% @chatroom.messages.each do |message| %>
								<div> (<%= message.timestamp %>)<%= message.user.username %>: <%= message.body %> </div>
							<% end %>
						</div>
					</div>

					<%= form_for @message, url: { :action => :create, :controller => :messages }, remote: true do |f| %>
					<div class="container-fluid"> 
						<div class="row">
							<%= f.text_field :body, auto_focus: true, :autocomplete => :off, placeholder: "Enter message...", :class => "col-xs-10", :id => "message-box" %>
							<%= f.submit "Send", :class => 'submit col-xs-2' %>
						</div>
					</div>
					<% end %>

				</div>

				<div class="col-sm-2">
					<div class="chat-members">
						<div id="member-title">ChatBox Members(<%=@chatroomUsers.length%>)</div>
							<% if @chatroomUsers %>
								<% @chatroomUsers.each do |user| %>
									<div id="members">
										<%= user %>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>

			</row>
		</div>

		<%= audio_tag "notificationSound.mp3", :class => "audios", :id => "audio", auto_play: false %>

	<% else %>
		<h2>You don't have access to this ChatBox.</h2>
	<% end %>
</body>