<body class="chatroom-page">
	<% if @chatroom %>
		<h2><%= @chatroom.title %> </h2>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-sm-8">
					<div class="chatroom">
						<div id="messages">
							<% @chatroom.messages.each do |message| %>
								<div class="centerText"> <%= message.timestamp %> </div>
								<div> <%= message.user.username %>: <%= message.body %> </div>
							<% end %>
						</div>
					</div>

					<%= form_for @message, url: { :action => :create, :controller => :messages }, remote: true do |f| %>
					<div class="container-fluid"> 
						<div class="row">
							<%= f.text_field :body, auto_focus: true, placeholder: "Enter message...", :class => "message-box col-xs-10" %>
							<%= f.submit "Send Message", :class => 'submit col-xs-2' %>
						</div>
					</div>
					<% end %>

				</div>

				<div class="col-sm-4">
					<div class="chat-members">
						<div id="member-title">ChatBox Members</div>
							<% if @chatroomUsers %>
								<% @chatroomUsers.each do |user| %>
									<div id="members">
										<%= user %>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>

			</row>
		</div>

	<% else %>
		<h2>You don't have access to this ChatBox.</h2>
	<% end %>
</body>