<div class="container-fluid">
	<div class="row myNav">		
		<div class="col-2-md" id="navItem"> 
			<a href="#top"> Home </a>
		</div>
		<br>
		<div class="col-2-md uber" id="navItem"> 
			<a href="#uber"> Uber </a>
		</div>
		<br>
		<div class="col-2-md lyft" id="navItem">
			<a href="#lyft"> Lyft </a>
		</div>
		<br>
		<div class="col-2-md via" id="navItem">
			<a href="#via"> Via </a>
		</div>
		<br>
		<div class="col-2-md gett" id="navItem">
			<a href="#gett"> Gett </a>
		</div>
		<!-- <br> -->
		<div class="col-2-md"> 
			 <!-- Nothing for now -->
		</div>
	</div>	
</div>		
	
<div class="landingImage" id="top">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">

				<div class="textOnPicture"> 
					Welcome to Exposure!
					<div class="smallTextOnLandingImage"> 
						{Your home for discovering the cheaper side of life}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="uberImage" id="uber">
 -->
	<div class="uberImage container-fluid containerText" id="uber">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="uberLogo"> Uber! </div>
				<div class="uberText">
					<!-- <br><br> -->
					
					<div class="description">
						<p>For riders, Uber is a convenient, inexpensive and safe taxi service. Hire a private driver to pick you up & take you to your destination with the tap of a button on your phone - and they'll arrive within minutes. Not only is it an on-demand car service, but you can see exactly where the driver is as they come to pick you up. </p>
						
						<p>For drivers, Uber provides exceptional pay while allowing you to be your own boss & pick your own hours. Take on fares whenever you wish (work as little or as much as you want) while meeting people in your city from all walks of life. </p>
					</div>
					
					<h3> Uber codes of the month: </h3>
					<%counter = 0%>
					<% if @uber_promotions.empty? %>
						<div>Coming Soon!</div>
					<%else%>
					<span class="codes">
						<% @uber_promotions.each do |promotion| %>
							<br> <%= promotion.code %> <br> <br>
							
			<!-- MODAL FOR CODE -->
							
							<!-- Button trigger -->
							<button type="button" class="btnNew btn-primary btn-lg" data-toggle="modal" data-target="#<%=counter%>">
							  Details
							</button>
					</span>
							<div class="modal fade" id="<%=counter%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        									<h3 class="modal-title" id="myModalLabel"> <%=promotion.code %> </h3>
      									</div>
      									<div class="modal-body">
        									<%= promotion.notes %>
      									</div>
      									<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<br>
			<!-- END OF MODAL FOR CODE -->
							<%counter+=1%>
						<% end %> <!-- END OF PRMOTION CODE LOOP -->
					<%end%>	
				</div>
			</div>
		</div>
<!-- 	</div> -->

</div>

<div class="lyftImage" id="lyft">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="lyftLogo"> Lyft! </div>
				<div class="lyftText">
					<h3> Lyft codes of the month: </h3>
					<% if @lyft_promotions.empty? %>
						<div>Coming Soon!</div>
					<%else%>
					
						<% @lyft_promotions.each do |promotion| %>
							<br> <%= promotion.code %> <br> <br>

							<!-- MODAL FOR CODE -->
							
							<!-- Button trigger -->
							<button type="button" class="btnNew btn-primary btn-lg" data-toggle="modal" data-target="#<%=counter%>">
							  Details
							</button>

							<div class="modal fade" id="<%=counter%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        									<h3 class="modal-title" id="myModalLabel"> <%=promotion.code %> </h3>
      									</div>
      									<div class="modal-body">
        									<%= promotion.notes %>
      									</div>
      									<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<br>
			<!-- END OF MODAL FOR CODE -->
							<%counter+=1%>
						<% end %> <!-- END OF PROMOTION CODE LOOP -->
					<%end%>	
				</div>
			</div>
		</div>
	</div>

</div>

<div class="viaImage" id="via">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="viaLogo"> Via! </div>
				<div class="viaText">
					<h3> Via codes of the month: </h3>

					<% if @via_promotions.empty?%>
						<div>Coming Soon!</div>
					<%else%>
					
						<% @via_promotions.each do |promotion| %>
							<br> <%= promotion.code %> <br> <br>

							<!-- MODAL FOR CODE -->
							
							<!-- Button trigger -->
							<button type="button" class="btnNew btn-primary btn-lg" data-toggle="modal" data-target="#<%=counter%>">
							  Details
							</button>

							<div class="modal fade" id="<%=counter%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        									<h3 class="modal-title" id="myModalLabel"> <%=promotion.code %> </h3>
      									</div>
      									<div class="modal-body">
        									<%= promotion.notes %>
      									</div>
      									<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<br>
			<!-- END OF MODAL FOR CODE -->
							<%counter+=1%>
						<% end %> <!-- END OF PROMOTION CODE LOOP -->
					<%end%>	
				</div>
			</div>
		</div>
	</div>

</div>

<div class="gettImage" id="gett">

	<div class="container-fluid containerText">
		<div class="row">
			<div class="col-12-xl">
				
				<div class="gettLogo"> Gett! </div>
				<div class="gettText">
					<h3> Gett codes of the month: </h3>
		
					<% if @gett_promotions.empty? %>
						<div>Coming Soon!</div>
					<%else%>
					
						<% @gett_promotions.each do |promotion| %>
							<br> <%= promotion.code %> <br> <br>

							<!-- MODAL FOR CODE -->
							
							<!-- Button trigger -->
							<button type="button" class="btnNew btn-primary btn-lg" data-toggle="modal" data-target="#<%=counter%>">
							  Details
							</button>

							<div class="modal fade" id="<%=counter%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        									<h3 class="modal-title" id="myModalLabel"> <%=promotion.code %> </h3>
      									</div>
      									<div class="modal-body">
        									<%= promotion.notes %>
      									</div>
      									<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<br>
			<!-- END OF MODAL FOR CODE -->
							<%counter+=1%>
						<% end %> <!-- END OF PROMOTION CODE LOOP -->
					<%end%>	
				</div>
			</div>
		</div>
	</div>

</div>